<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>罗氏学院 - 测试用例</title>
	<link rel="stylesheet" href="css/master.css">
	<link rel="stylesheet" href="css/jquery.fancybox.css">
</head>
<body>
	<div class="container">
		<div class="site-header">
			<div class="lang-select">
				<div class="lang-en"><a href="#">English</a></div>
				<div class="lang-zh"><a href="#" class="active">中文</a></div>
			</div>
			<h1>罗氏中国学院 ROCHE CHINA ACADEMY</h1>
			<div class="brand-logo"><img src="images/logo_icon.png" alt=""></div>
		</div>
		<ul class="site-menu">
			<li class="home on"><a href="#">首页</a></li>
			<li class="intro"><a href="#">学院介绍</a></li>
			<li class="study">
				<a href="#">学习</a>
				<dl class="sub-menu">
					<dd><a href="">概念/原理</a></dd>
					<dd><a href="">学习地图</a></dd>
					<dd><a href="">应用Apps</a></dd>
					<dd><a href="">我的课程</a></dd>
					<dd><a href="">课程信息</a></dd>
				</dl>
			</li>
			<li class="develop"><a href="#">发展</a></li>
			<li class="employee"><a href="#">新员工</a></li>
			<li class="start"><a href="#">开始我的学习</a></li>
		</ul>
		<div class="site-content clearfix">
			<div class="content-left">
				<div class="calendar-section">
					<h3 class="calendar-title">课程日历</h3>
					<div id="calendar">
					  <script type="text/template" id="template-calendar">
				        <div class="clndr-controls">
				          <div class="clndr-previous-button">&lsaquo;</div>
				          <div class="month"><%= month %> <%= year %></div>
				          <div class="clndr-next-button">&rsaquo;</div>
				        </div>
				        <div class="clndr-grid">
				          <div class="days-of-the-week">
				            <% _.each(daysOfTheWeek, function(day) { %>
				              <div class="header-day"><%= day %></div>
				            <% }); %>
				            <div class="days">
				              <% _.each(days, function(day) { %>
				                <div class="<%= day.classes %>"><%= day.day %></div>
				              <% }); %>
				            </div>
				          </div>
				        </div>
				      </script>
					</div>
					<div class="calendar-event month-event">
						<div class="event-header">
							<h3>当月课程</h3>
							<dl>
								<dt>month</dt>
								<dd>12</dd>
							</dl>
						</div>
						<div class="course-list">
							<dl class="course-item">
								<dt>当月课程 01</dt>
								<dd>时间: 16:00-17:00<span>2013-08-10</span></dd>
							</dl>
							<dl class="course-item">
								<dt>当月课程 01</dt>
								<dd>时间: 16:00-17:00<span>2013-08-10</span></dd>
							</dl>
							<dl class="course-item">
								<dt>当月课程 01</dt>
								<dd>时间: 16:00-17:00<span>2013-08-10</span></dd>
							</dl>
							<dl class="course-item">
								<dt>当月课程 01</dt>
								<dd>时间: 16:00-17:00<span>2013-08-10</span></dd>
							</dl>
						</div>
						<div class="course-pager">
							<div class="course-pager-item">
								<a class="active" href="">1</a>
							</div>
							<div class="course-pager-item">
								<a class="" href="">2</a>
							</div>
							<div class="course-pager-item">
								<a class="" href="">3</a>
							</div>
						</div>
					</div>
					<div class="calendar-event day-event">
						<div class="event-header">
							<h3>当日课程</h3>
							<dl>
								<dt>date</dt>
								<dd>18</dd>
							</dl>
						</div>
						<div class="course-list">
							<dl class="course-item">
								<dt>当日课程 01</dt>
								<dd>时间: 16:00-17:00<span>2013-08-10</span></dd>
							</dl>
							<dl class="course-item">
								<dt>当日课程 02</dt>
								<dd>时间: 16:00-17:00<span>2013-08-10</span></dd>
							</dl>
							<dl class="course-item">
								<dt>当日课程 03</dt>
								<dd>时间: 16:00-17:00<span>2013-08-10</span></dd>
							</dl>
							<dl class="course-item">
								<dt>当日课程 04</dt>
								<dd>时间: 16:00-17:00<span>2013-08-10</span></dd>
							</dl>
						</div>
						<div class="course-pager">
							<div class="course-pager-item">
								<a class="active" href="">1</a>
							</div>
							<div class="course-pager-item">
								<a class="" href="">2</a>
							</div>
							<div class="course-pager-item">
								<a class="" href="">3</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="content-right">
				<div class="carousel">
					<ul id="slide-plane">
						<li><a href=""><img src="images/photo.png" title="<b>Image1 rotation Title</b>Image rotation Content Image rotation Content,Image rotation Content Image rotation Content"></a></li>
						<li><a href=""><img src="images/photo.png" title="<b>Image2 rotation Title</b>Image rotation Content Image rotation Content,Image rotation Content Image rotation Content"></a></li>
						<li><a href=""><img src="images/photo.png" title="<b>Image3 rotation Title</b>Image rotation Content Image rotation Content,Image rotation Content Image rotation Content"></a></li>
					</ul>
					<div id="slide-ctrl">
						<div class="slider-prev"></div>
						<div class="slider-next"></div>
					</div>
				</div>
				<div class="row clearfix">
					<div class="video-section">
						<div class="video-header">
							<h3>视频</h3>
						</div>
						<div class="video-con">
							<div class="video-show">
								<a class="fancybox-video" data-fancybox-type="iframe" href="videos/demo.html">
									<img src="images/video_img.jpg" alt="">
								</a>
							</div>
							<dl class="video-info">
								<dt>October 01, 2013</dt>
								<dd>Medical imaging plays important role in development...</dd>
							</dl>
						</div>
					</div>
					<div class="msg-box">
						<div class="msg-item msg-item-1">
							<p class="txt">信息港</p>
							<div class="sub-msg">
								<ul>
									<li><a href="">分享一</a></li>
									<li><a href="">分享一</a></li>
									<li><a href="">分享一</a></li>
								</ul>
								<p>信息港</p>
							</div>
						</div>
						<div class="msg-item msg-item-2">
							<p class="txt">分享（平台）</p>
							<div class="sub-msg">
								<ul>
									<li><a href="">分享一</a></li>
									<li><a href="">分享一</a></li>
									<li><a href="">分享一</a></li>
								</ul>
								<p>分享（平台）</p>
							</div>
						</div>
						<div class="msg-item msg-item-3">
							<p class="txt">E-Library</p>
							<div class="sub-msg">
								<ul>
									<li><a href="">分享一</a></li>
									<li><a href="">分享一</a></li>
									<li><a href="">分享一</a></li>
								</ul>
								<p>E-Library</p>
							</div>
						</div>
						<div class="msg-item msg-item-4">
							<p class="txt">更多</p>
							<div class="sub-msg">
								<ul>
									<li><a href="">分享一</a></li>
									<li><a href="">分享一</a></li>
									<li><a href="">分享一</a></li>
								</ul>
								<p>更多</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="site-footer">
			<div class="footer-con">
				<div class="foot-link">
					<a href="">Contact Us </a>|
					<a href="">Feedback</a>
				</div>
				<p class="copyright">2013 Roche China Academy</p>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
	<script src="js/json2.js"></script>
  	<script src="js/underscore-min.js"></script>
  	<script src= "js/moment-2.2.1.js"></script>
  	<script src="js/clndr.js"></script>
  	<script src="js/jquery.fancybox.pack.js"></script>
  	<script src="js/site.js"></script>
</body>
</html>
